@import "../../../scss/variable/theme.scss";

.Trigger {
    background-color: $primaryColor;
    padding: 15px;
    height: 20px;

    &:hover {
        // background-color: $primaryDarkColor;
        cursor: pointer;
    }
}
