@import "../../../scss/variable/theme.scss";

.Item {
    background-color: $primaryColor;
    padding: 15px;
    height: 20px;

    &:hover {
        background-color: $primaryDarkColor;
        cursor: pointer;
    }

    .label {
        color: $baseColor;
        font-family: "Kanit", sans-serif;
        padding-left: 10px;
        font-size: 20px;
    }
}
