$navbarHeight: 80px;
$contentPadding: 40px;

$baseColor: #FFE6E6;
$primaryColor: #937DC2;
$primaryLightColor: #D9D9D9;
$primaryDarkColor: #836FAF;
$secondaryColor: #FEB5C2;
$secondaryLightColor: #FFE6E6;

$primaryFont: "Kanit";
